.categories-container {
    text-align: center;
    padding: 20px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    gap: 15px;
    justify-items: center;
}

.category-card {
    text-decoration: none;
    color: black;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card img {
    width: 100%;
    border-radius: 8px;
}.category-title{
    font-family: cursive;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #074799;
}






/* Container for the category details */
.category-detail-container {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Grid for the meal cards */
  .meals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    justify-items: center;
  }
  
  /* Styling for each meal card */
  .meal-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    max-width: 250px;
    cursor: pointer;
  }
  
  .meal-card:hover {
    transform: translateY(-10px);
  }
  
  /* Image styling */
  .meal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
  }
  
  /* Title styling */
  .meal-title {
    font-size: 1.2rem;
    padding: 15px;
    color: #333;
    font-weight: bold;
  }
  
  /* Modal overlay styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content styling */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 1400px;
    width: 90%;
    height: 90vh;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  
  .modal-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .modal-content p {
    font-size: 1rem;
    color: #333;
    margin-top: 15px;
  }
  
  .modal-content h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  /* Close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
  }
  
  /* Ingredients List Styling */
  .ingredients-list {
    text-align: left;
    margin-top: 20px;
  }
  
  .ingredients-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ingredients-list li {
    margin: 5px 0;
    font-size: 1rem;
  }
  