.hero-banner{
    width: 100%;
}.hero{
position: relative;
}.hero-text{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 7%;
    color: white;
    background: #0000005e;
    padding: 21px 30px;
    border-radius: 21px;
}